# Ключи и конфигурации
/gradle.properties
local.properties
google-services.json
keys/
Constants.kt
*.keystore
*.jks

# Студийные файлы
.idea/
.gradle/
*.iml
.DS_Store

# Билд артефакты
/build
captures/
app/build/
app/release/
.externalNativeBuild
.cxx
.kotlin/errors/

# Firebase
.Firebase/